**
!CMakeLists.txt
!CMakePresets.json
!COPYING
!AUTHORS
!update-version-h.sh
!cmake/**
!daemon/**
!libtransmission/**
!libtransmission-app/**
!third-party/**
!tests/**
!licenses/**
!web/**
!extras/vpn/*.py
!extras/vpn/providers/*.py
!extras/auto/settings.json
!extras/mqtt/*.py
!docker/**
!Dockerfile
!.dockerignore
**/.git
**/__pycache__
**/node_modules
**/build
**/public_html
**/*.pyc
**/*.key
**/*.ovpn
**/.env
**/config
!web/public_html/index.html
!web/public_html/images/**
!extras/vpn/rpc-relay.c
